@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

[epub|type~="preamble"] > header p{
	font-style: normal;
	font-variant: small-caps;
	text-align: center;
}

[epub|type~="preamble"] p{
	font-style: italic;
}

[epub|type~="preamble"]{
	margin-bottom: 3em;
}

[epub|type~="z3998:poem"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:poem"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:poem"] p > span + br{
	display: none;
}

[epub|type~="z3998:poem"] p + p{
	margin-top: 1em;
}
